<div
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="webSiteFooter">
        <footer class="page_footer ds s-py-md-0 s-py-lg-50 s-py-xl-100 c-gutter-25">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 text-center animate"
                         data-animation="fadeInUp">
                        <h4 class="back">мы в<br>сетях</h4>
                        <div class="page_footer__wrap">
                            <div class="widget widget_banner">
                                <p class="spec">goodsolutionskg<span class="light">@</span>gmail.com</p>
                            </div>
                            <div class="fw-divider-space  hidden-lg mt--20"></div>
                            <div class="menu-footer">
                                <ul class="menu-footer__nav">
                                    <li>
                                        <a href="https://www.facebook.com/goodsolutionsgroupKG">facebook</a>
                                    </li>
                                    <li>
                                        <a href="http://linkedin.com/#">telegram</a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/goodsolutions.group">instagram</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="fw-divider-space hidden-below-sm  hidden-lg mt-30"></div>
                </div>
            </div>
        </footer>

        <section class="page_copyright ds s-py-12">
            <div class="container">
                <div class="row align-items-center">
                    <div class="fw-divider-space d-none d-lg-block mt-15"></div>
                    <div class="col-md-12 text-center fs-12">
                        <p>Copyright <span class="copyright_year">2020</span></p>
                    </div>
                    <div class="fw-divider-space d-none d-lg-block mt-15"></div>
                </div>
            </div>
        </section>
    </div>
</div>