<!DOCTYPE html>
<layout:html xmlns:th="http://www.thymeleaf.org"
             xmlns:layout="http://www.w3.org/1999/xhtml" lang="en"
             layout:decorate="~{layout}">
    <div layout:fragment="content">
        <div class="main-content">
            <div class="row">
                <div class="col-lg-12">
                    <h3 style="margin: 30px; text-align: center; font-family: 'Gilroy Light', sans-serif">
                    <span class="iconify"
                          data-inline="false"
                          data-icon="gridicons:list-ordered"
                          style="color: #2b3b55;font-size: 50px; margin-right: 30px"></span>
                        Список пользователей</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-data__tool">
                        <div class="table-data__tool-left">

                            <form action="#" role="search" th:action="@{/user/list}" method="get">
                                <div class="rs-select2--light rs-select2--md">
                                    <select class="js-select2" name="search">
                                        <option selected="Все">Все</option>
                                        <option value="ROLE_MANAGER">Менеджеры</option>
                                        <option value="ROLE_USER">Пользователи</option>
                                    </select>
                                    <div class="dropDownSelect2"></div>
                                </div>
                                <button class="au-btn-filter">
                                    <i class="zmdi zmdi-filter-list"></i>Фильтр
                                </button>
                            </form>
                        </div>
                        <div class="table-data__tool-right">
                            <button class="au-btn au-btn-icon au-btn--blue2 au-btn--small">
                                <a th:href="'/user/form'" style="color: aliceblue">
                                    <i class="zmdi zmdi-plus"></i>Добавить
                                </a>
                            </button>
                        </div>
                    </div>
                    <div class="table-responsive table-responsive-data2">
                        <table class="table table-data2">
                            <thead>
                            <tr>
                                <th>ФИО</th>
                                <th>Логин</th>
                                <th>Роль</th>

                                <th></th>
                            </tr>
                            </thead>
                            <tbody th:each="u : ${userList}">
                                <tr class="tr-shadow">
                                <td th:text="${u.firstName+' '+u.lastName}">
                                </td>
                                <td>
                                    <span class="block-email" th:text="${u.email}"></span>
                                </td>
                                <td>
                                    <div th:switch="${u.getRole().getRoleName()}">
                                        <span th:case="ROLE_ADMIN" class="role admin">Админ</span>
                                        <span th:case="ROLE_MANAGER" class="role manager">Менеджер</span>
                                        <span th:case="ROLE_USER" class="role user">Клиент</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="table-data-feature" th:if="${user.getRole().getRoleName() == 'ROLE_ADMIN' || u.getRole().getRoleName() == 'ROLE_USER' && user.getRole().getRoleName() == 'ROLE_MANAGER'}">
                                        <form  th:action="@{/mail/users}" method="get">
                                        <button name="userMail" th:value="${u.email}" class="item" data-toggle="tooltip" data-placement="top" title="Отправить"
                                                th:if="${u.email != user.email}">
                                                <i class="zmdi zmdi-mail-send"></i>
                                        </button>
                                        </form>
                                        <span data-toggle="modal" data-target="modal">
                                        </span>
                                        <button class="item" data-toggle="modal"
                                                th:if="${u.email != user.email}"
                                                th:attr="data-target='#recordDeleteModal'+${u.id}">
                                            <i class="zmdi zmdi-delete" data-toggle="tooltip" data-placement="top"
                                               title="Удалить"></i>
                                        </button>
                                        <div data-backdrop="false" class="modal fade"
                                             th:attr="id='recordDeleteModal'+${u.id}" tabindex="-1" role="dialog"
                                             aria-labelledby="recordDeleteModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="recordDeleteModalLabel">Удаление
                                                            пользователя</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <label>Вы действительно хотите удалить?</label>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-secondary"
                                                                data-dismiss="modal">Нет
                                                        </button>

                                                        <form th:action="@{/user/delete/{id}(id = ${u.id})}"
                                                              method="post">
                                                            <button type="submit" class="btn au-btn--blue2"
                                                                    style="color: aliceblue">Да
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="item" data-toggle="tooltip" data-placement="top" title="Профиль">
                                            <a th:href="'/user/profile/' + ${u.id}">
                                                <i class="zmdi zmdi-account">
                                                </i></a>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="container con3" th:if="${userList.getTotalPages()-1 > 0}">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:if="${userList.hasPrevious()}">
                        <a class="page-link" th:href="@{/user/list(page=${userList.number -1})}"> < </a>
                    </li>
                    <th:block th:each="i: ${#numbers.sequence(0, userList.totalPages - 1)}">
                        <li class="page-item active" th:if="${userList.number == i}">
                            <a th:href="@{/user/list(page=${i})}" class="page-link ">[[${i}+1]]</a>
                        </li>
                        <li class="page-item" th:unless="${userList.number == i}">
                            <a th:href="@{/user/list(page=${i})}" class="page-link">[[${i}+1]]</a>
                        </li>
                    </th:block>
                    <li class="page-item" th:if="${userList.hasNext()}">
                        <a class="page-link" th:href="@{/user/list(page=${userList.number+1})}"> > </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</layout:html>