<!DOCTYPE html>
<layout:html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
             xmlns:sec="http://www.w3.org/1999/xhtml" lang="en"
             layout:decorate="~{layout}">
    <div layout:fragment="content">
        <div class="main-content">
            <div class="row">
                <div class="col-lg-12">
                    <h3 style="text-align: center; font-family: 'Gilroy Light', sans-serif">
                        <span class="iconify i3" data-inline="false"
                              data-icon="uil:comment" style="color: #2b3b55;font-size: 22px;">
                        </span>
                        <p th:text="${'Сообщения по задаче: '+taskName}"></p></h3>
                </div>
            </div>
            <div class="container">
                <div class="messaging">
                    <div class="inbox_msg">
                        <div class="mesgs">
                            <div class="msg_history">
                                <div th:each="comment : ${comments}">
                                    <div th:if="${userName != comment.user.email}" class="incoming_msg">
                                        <div class="incoming_msg_img">
                                            <img th:src="${comment.user.image != null} ?'/images/'+${comment.user.image} : ${@environment.getProperty('photo.default.name')}"
                                                 alt="sunil">
                                        </div>
                                        <div class="received_msg">
                                            <div class="received_withd_msg">
                                                <p th:text="${comment.commentText}">Test which is a new approach to have
                                                    all
                                                    solutions</p>
                                                <span class="time_date" th:text="${comment.createdDate}"> 11:01 AM    |    June 9</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div th:if="${userName == comment.user.email}" class="outgoing_msg">
                                        <div class="sent_msg">
                                            <p th:text="${comment.commentText}"></p>
                                            <span class="time_date" th:text="${comment.createdDate}"> 11:01 AM    |    June 9</span>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>
                            <div class="type_msg">
                                <div class="input_msg_write">
                                    <form class="form-block" id="createComment"
                                          th:action="'/comment/'+${taskId}+'/create'" method="post">
                                        <input type="text" name="commentText" class="write_msg"
                                               placeholder="Type a message"/>
                                        <button form="createComment" class="msg_send_btn" type="submit"><i
                                                class="fa fa-paper-plane" aria-hidden="true"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

<!--            <div class="container con3" th:if="${comments.getTotalPages()-1 > 0}">-->
<!--                <ul class="pagination justify-content-center">-->
<!--                    <li class="page-item" th:if="${comments.hasPrevious()}">-->
<!--                        <a class="page-link" th:href="@{/comment/list(page=${comments.number -1})}"> < </a>-->
<!--                    </li>-->
<!--                    <th:block th:each="i: ${#numbers.sequence(0, comments.totalPages - 1)}">-->
<!--                        <li class="page-item active" th:if="${comments.number == i}">-->
<!--                            <a th:href="@{list(page=${i})}" class="page-link ">[[${i}+1]]</a>-->
<!--                        </li>-->
<!--                        <li class="page-item" th:unless="${comments.number == i}">-->

<!--                            <a th:href="@{list(page=${i})}" class="page-link">[[${i}+1]]</a>-->
<!--                        </li>-->
<!--                    </th:block>-->
<!--                    <li class="page-item" th:if="${comments.hasNext()}">-->
<!--                        <a class="page-link" th:href="@{/comment/list(page=${comments.number+1})}"> > </a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
        </div>
    </div>
</layout:html>