.contact {
  .media{
    padding: 50px 20px 38px 20px;
    .media-body{
      margin-top: 17px;
      h4{
        margin-bottom: 14px;
      }
      p{
        font-weight: bold;
      }
    }
    .icon-styled{
      margin-top: 2px;
      i{
        font-size: 60px;
      }
    }
  }
  form{
    h4{
      margin-bottom: 32px;
      @media (max-width: 575px) {
        font-size: 27px;
      }
    }
  }
}