.video-shortcode {
  .icon-styled.icon-bordered{
    width: 80px;
    height: 80px;
  }
  a{
    font-size: 30px;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    &:hover{
      color: $colorMain;
    }
  }
  p {
    font-size: 14px;
    letter-spacing: 2.8px;
  }
  .section__header {
    h4 {
      margin-bottom: 13px;
    }
    @media (max-width: 575px) {
      h4{
        font-size: 30px;
      }
    }

    @media ( max-width: 480px ) {
      margin-bottom: 0;
    }
  }
}