.events{
  @media (min-width: 992px) {
    main + aside{
      padding-left: 45px!important;
      padding-right: 0!important;
    }
    aside.order-lg-1{
      padding-right: 45px!important;
      padding-left: 0!important;
    }
  }
  .post + .post{
    margin-top: 30px;
  }
}

.events-single{
  form{
    h4{
      margin-bottom: 36px;
      @media (max-width: 575px) {
        font-size: 27px;
        margin-bottom: 25px;
      }
    }
  }
  .page_map{
    height: 510px;
  }
  .entry-content{
    p{
      margin-bottom: 0.8em;
    }
    ul.list1{
      line-height: 40px;
    }
  }
  .vertical-item .item-content{
    padding-top: 32px;
    .entry-date{
      letter-spacing: 4px;
      margin-bottom: 0;
    }
  }
  @media (min-width: 992px) {
    main + aside{
      padding-left: 52px!important;
      padding-right: 0!important;
    }
    aside.order-lg-1{
      padding-right: 52px!important;
      padding-left: 0!important;
    }
  }
}

.post.side-item{
  @media (max-width: 1200px){
    height: auto;
    .item-media{
      width: auto;
    }
  }
  height: auto;
  .item-content{
    border: none;
    margin-left: 0;
    padding: 22px 0 22px 18px;
    @media (max-width: 768px) {
      text-align: left;
      padding-left: 0;
      padding-right: 0;
    }
  }
  .entry-date{
    a{
      letter-spacing: 3.8px;
    }
  }
  .small-text{
    margin-bottom: 0;
  }
  .entry-title{
    margin-top: 7px;
    a:hover{
      color: $colorMain;
    }
  }
}