.team{
  &.c-mb-30 [class*="col-"], .row.c-mb-30 > [class*="col-"] {
    margin-bottom: 19px;
  }
  .vertical-item .item-title{
    @media (max-width: 575px){
      font-size: 30px;
    }
  }
  @media (max-width: 575px){
    h5{
      font-size: 27px;
    }
  }
}
