<!DOCTYPE html>
<layout:html xmlns:layout="http://www.w3.org/1999/xhtml"
             xmlns:th="http://www.thymeleaf.org"
             lang="en"
             layout:decorate="~{layout}">
    <div layout:fragment="content">
        <div class="main-content">
            <div class="row">
                <div class="col-lg-12">
                    <h3 style="text-align: center; font-family: 'Gilroy Light', sans-serif">Профиль
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-data__tool">
                        <div class="table-data__tool-left">
                        </div>
                        <div class="table-data__tool-right" th:if="${!user.role.getRoleName().equals('ROLE_USER')}">
                            <button class="au-btn au-btn-icon au-btn--blue2 au-btn--small">
                                <a th:href="'/user/' + ${user1.id}" style="color: aliceblue">
                                    <i class="zmdi zmdi-edit"></i>Редактировать
                                </a>
                            </button>
                        </div>
                    </div>
<!--                    <div class="center">-->
                        <div class="profile-nav alt">
                            <div class="card">
                                <div class="card-header user-header alt bg-dark">
                                    <div class="media">
<!--                                        <a href="#">-->
                                            <img class="align-self-center rounded-circle mr-3" width="100" height="100"
                                                 th:src="${user1.image} ? '/images/'+${user1.image} : ${@environment.getProperty('photo.default.name')}"
                                                 alt=""/>
<!--                                        </a>-->
                                        <div class="media-body">
                                            <h2 class="text-light display-6"
                                                th:text="${user1.patronymic} ? ${user1.lastName+' '+user1.firstName+' '+user1.patronymic}:${user1.lastName+' '+user1.firstName}"></h2>
                                            <p th:text="${user1.position}"></p>
                                        </div>
                                    </div>
                                </div>

                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <i class="fa fa-mobile"></i>
                                        <label>Телефон:
                                            <span th:text="${user1.phoneNumber}"></span>
                                        </label>
                                    </li>
                                    <li class="list-group-item">
                                        <i class="fa fa-building"></i>
                                        <label>Компания/учреждение:
                                            <span th:text="${user1.companyName}"></span>
                                        </label>
                                    </li>
                                    <li class="list-group-item">
                                        <i class="fa fa-briefcase"></i>
                                        <label>Сфера деятельности:
                                            <span th:text="${user1.companyOccupation}"></span>
                                        </label>
                                    </li>
                                    <li class="list-group-item" th:if="${user1.website}">
                                        <i class="fa fa-globe"></i>
                                        <label>Веб-сайт:
                                            <a th:href="${user1.website}">
                                                <span th:text="${user1.website}"></span>
                                            </a>
                                        </label>
                                    </li>
                                    <li class="list-group-item" th:if="${user1.address}">
                                        <i class="fa fa-map-marker"></i>
                                        <label>Адрес:
                                            <span th:text="${user1.address}"></span>
                                        </label>
                                    </li>

                                    <li class="list-group-item" th:if="${user1.source}">
                                        <i class="fa fa-users"></i>
                                        <label>Откуда узнали:
                                            <span th:text="${user1.source}"></span>
                                        </label>
                                    </li>

                                    <li class="list-group-item">
                                        <i class="fa fa-check-square"></i>
                                        <label th:switch="${user1.isActive}">Активность:
                                            <span th:case="true">Да</span>
                                            <span th:case="*">Нет</span>
                                        </label>
                                    </li>
                                    <li class="list-group-item">
                                        <i class="fa fa-user"></i>
                                        <label th:switch="${user1.getRole().getRoleName()}">Роль:
                                            <span th:case="ROLE_ADMIN">Админ</span>
                                            <span th:case="ROLE_MANAGER">Менеджер</span>
                                            <span th:case="ROLE_USER">Клиент</span>
                                        </label>
                                    </li>
                                    <li class="list-group-item">
                                        <i class="fa fa-calendar"></i>
                                        <label>Дата создания:
                                            <span th:text="${user1.getCreatedDateWithoutZeros()}"></span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
<!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
</layout:html>