<html
        lang="en"
        class="wow-animation"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<div th:fragment="leftMenu">
    <div id="page-preloader">
        <div class="contpre">
            <div class="loader">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <header class="header-mobile d-block d-lg-none">
        <div class="header-mobile__bar">
            <div class="container-fluid">
                <div class="header-mobile-inner">
                    <a class="logo" href="/statistics">
                        <img th:src="@{/images/gsg.png}" height="100" width="140" alt="Admin"/>
                    </a>
                    <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                    </button>
                </div>
            </div>
        </div>
        <nav class="navbar-mobile">
            <div class="container-fluid">
                <ul class="navbar-mobile__list list-unstyled">
                    <li>
                        <a href="/package/list">
                                        <span class="iconify" data-inline="false"
                                              data-icon="si-glyph:document-bullet-list"
                                              style="color: #fac70a;font-size: 25px;"></span> Список пакетов
                        </a>
                    </li>
                    <li>
                        <a href="/category/list">
                                        <span class="iconify" data-inline="false" data-icon="cil:list-rich"
                                              style="color: #fac70a;font-size: 25px;"></span> Список услуг
                        </a>
                    </li>
                    <li>
                        <a href="/task/list">
                                         <span class="iconify" data-inline="false" data-icon="fe:list-task"
                                              style="color:#fac70a;font-size: 25px;"></span>
                            Список задач
                        </a>
                    </li>

                    <li>
                        <a href="/order/list">
                                        <span class="iconify" data-inline="false" data-icon="ic:baseline-work"
                                              style="color:#fac70a;font-size: 25px;"></span>
                            Список заказов
                        </a>
                    </li>
                    <li>
                        <a href="/user/list">
                                        <span class="iconify" data-inline="false" data-icon="ri:user-settings-fill"
                                              style="color: #fac70a;font-size: 25px;"></span> Управление пользователями
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- END HEADER MOBILE-->

    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar d-none d-lg-block">
        <div class="logo">
            <a href="/statistics">
                <img src="/images/gsg.png"  height="100" width="140" alt="Cool Admin"/>
            </a>
        </div>
        <div class="menu-sidebar__content js-scrollbar1">
            <nav class="navbar-sidebar">
                <ul class="list-unstyled navbar__list">
                    <li>
                        <a class="js-arrow" href="/package/list">
                                                <span class="iconify" data-inline="false"
                                                      data-icon="si-glyph:document-bullet-list"
                                                      style="color: #fac70a;font-size: 25px;"></span> Пакеты
                        </a>
                    </li>
                    <li>
                        <a href="/category/list">
                                        <span class="iconify" data-inline="false" data-icon="cil:list-rich"
                                              style="color: #fac70a;font-size: 25px;"></span> Услуги
                        </a>
                    </li>
                    <li>
                        <a href="/task/list">
                                        <span class="iconify" data-inline="false" data-icon="fe:list-task"
                                              style="color: #fac70a;font-size: 25px;"></span>
                            Задачи
                        </a>
                    </li>

                    <li>
                        <a href="/order/list">
                                        <span class="iconify" data-inline="false" data-icon="ic:baseline-work"
                                              style="color: #fac70a;font-size: 25px;"></span>
                            Заказы
                        </a>
                    </li>

                    <li>
                        <a href="/user/list">
                                        <span class="iconify" data-inline="false" data-icon="ri:user-settings-fill"
                                              style="color: #fac70a;font-size: 25px;"></span> Управление пользователями
                        </a>
                    </li>

                    <li>
                        <a href="/mail/users">
                                        <span class="iconify" data-inline="false" data-icon="bx:bxs-message-detail"
                                              style="color: #fac70a;font-size: 25px;"></span> Отправка сообщений
                        </a>
                    </li>
                    <li>
                        <a href="/notification/news/form">
                                        <span class="iconify" data-inline="false" data-icon="ion:newspaper"
                                              style="color: #fac70a;font-size: 25px;"></span> Публикация новостей
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
</div>
</html>