<!DOCTYPE html>
<layout:html xmlns:layout="http://www.w3.org/1999/xhtml"
             xmlns:th="http://www.thymeleaf.org"
             lang="en"
             layout:decorate="~{layout}">
    <div layout:fragment="content">
        <div class="main-content">
            <div class="row">
                <div class="col-lg-12">
                    <h3 style="text-align: center; font-family: 'Gilroy Light', sans-serif"
                        th:text="${add} ? 'Добавить задачу' : 'Редактировать задачу'">
                    <span class="iconify"
                          data-inline="false"
                          data-icon="gridicons:list-ordered"
                          style="color: #2b3b55;font-size: 50px; margin-right: 30px"></span>
                    </h3>
                </div>
            </div>
            <form class="needs-valid"
                  th:action="${add} ? (${orderId}?'/task/create/'+${orderId}:'/task/create/'+${packageId}+'/'+${catId} ):('/task/updateClientTask/' + ${clientTask.id})"
                  th:object="${clientTask}"
                  method="post">
                <div class="form-group">
                    <label for="taskDeadlineInput">Дедлайн</label>
                    <input th:value="${add} ? '' : ${clientTask.getDeadline()}" type="date" name="deadline"
                           class="form-control"
                           id="taskDeadlineInput" placeholder="Введите дедлайн">
                    <div class="valid-feedback">
                        Подходит!
                    </div>
                    <div class="invalid-feedback">
                        Пожалуйста, введите правильные данные!
                    </div>
                </div>
                <button type="submit" class="btn au-btn--blue2" style="color: aliceblue">Отправить</button>
            </form>
        </div>
    </div>
</layout:html>