<!DOCTYPE html>
<layout:html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
             xmlns:sec="http://www.w3.org/1999/xhtml" lang="en"
             layout:decorate="~{layout}">
    <div layout:fragment="content">
        <div class="main-content">
            <div class="row">
                <div class="container">
                    <div class="col-lg-12">
                        <h3 style="text-align: center; font-family: 'Gilroy Light', sans-serif">
                    <span class="iconify"
                          data-inline="false"
                          data-icon="gridicons:list-ordered"
                          style="color: #2b3b55;font-size: 50px; margin-right: 30px"></span>
                            Список задач</h3>

                        <div class="table-data__tool">
                            <div class="table-data__tool-left">
                                <form action="#" role="search" th:action="@{/client/}" method="get">
                                    <div class="rs-select2--light rs-select2--md">
                                        <select class="js-select2" name="search">
                                            <option selected="Все">Все</option>
                                            <option value="INPROGRESS">В процессе</option>
                                            <option value="DONE">Выполненные</option>
                                            <option value="DECLINED">Отказанные</option>
                                            <option value="TODO">Под обработкой</option>
                                        </select>
                                        <div class="dropDownSelect2"></div>
                                    </div>
                                    <button class="au-btn-filter">
                                        <i class="zmdi zmdi-filter-list"></i>Фильтр
                                    </button>
                                </form>
                            </div>
                            <div class="table-data__tool-right">
                            </div>
                        </div>
                    </div>
                    <div class="card-deck c1">
                        <div class="col-md-6" th:each="task : ${taskModels}">
                            <div class="card card1" style="margin: 20px;">
                                <div class="card-body">
                                    <h5 class="card-title"
                                        th:text="${task.getTask().getCategoryId()} ? ${'Услуга: '+task.getTask().getCategoryId().title}:'Услуга: Экстра'"></h5>
                                    <h5 class="card-title" th:text="${'Задача: '+task.getTask().title}"></h5>
                                    <p class="card-text" th:text="${'Описание: '+task.getTask().description}"></p>
                                    <br>
                                    <p class="centered">Статус:
                                        <button type="button" class="btn btn-link">
                                        <span th:if="${task.statusManager.name() == 'TODO'}" class="iconify"
                                              data-icon="emojione:free-button" data-inline="false"
                                              style="font-size: 25px;color: blue;"></span>
                                            <span th:if="${task.statusManager.name() == 'INPROGRESS'}"
                                                  class="iconify"
                                                  data-icon="uil:process"
                                                  style="font-size: 25px;color: darkorange;"></span>
                                            <span th:if="${task.statusManager.name() == 'DONE'}" class="iconify"
                                                  data-icon="ic:outline-done-outline" data-inline="false"
                                                  style="font-size: 25px;color: green;"></span>
                                        </button>
                                    </p>
                                </div>
                                <div sec:authorize="hasRole('ROLE_USER')">
                                    <form th:if="${task.statusClient.name() != 'ACCEPTED'}"
                                          th:id="'formLike'+${task.id}"
                                          th:action="@{'/client/0/order/'+${task.order.id}+'/clientTasks/'+${task.id}+'/changeStatus'}"
                                          method="post">
                                        <input type="hidden" name="status" value="ACCEPTED">
                                    </form>
                                    <form th:if="${task.statusClient.name() != 'ACCEPTED'}"
                                          th:id="'formDislike'+${task.id}"
                                          th:action="@{'/client/0/order/'+${task.order.id}+'/clientTasks/'+${task.id}+'/changeStatus'}"
                                          method="post">
                                        <input type="hidden" name="status" value="DECLINED">
                                    </form>
                                    <p th:if="${task.statusClient.name() == 'ACCEPTED'}" class="centered">
                                        Вы одобрили эту задачу!
                                    </p>
                                    <p th:if="${task.statusClient.name() != 'ACCEPTED'}" class="centered">
                                        <button type="submit" th:form="'formLike'+${task.id}" class="btn btn-link"
                                                th:if="${task.statusManager.name() == 'DONE'}">
                                    <span class="iconify i1" data-inline="false"
                                          data-icon="simple-line-icons:like"
                                          style="color: #2b3b55;font-size: 22px;"></span>
                                        </button>
                                        <button type="submit" th:form="'formDislike'+${task.id}"
                                                class="btn btn-link"
                                                th:if="${task.statusManager.name() == 'DONE'}">
                                    <span class="iconify i2" data-inline="false"
                                          data-icon="simple-line-icons:dislike"
                                          style="color: #2b3b55;font-size: 22px;"></span>
                                        </button>
                                    </p>
                                </div>
                                <form th:action="'/task/'+${task.id}+'/delete/clientTask'" method="post"
                                      id="taskDelete">
                                </form>
                                <div class="header-button">
                                    <div class="noti-wrap">
                                        <button type="submit" class="btn btn-link noti__item" form="taskDelete">
                        <span class="iconify" data-inline="false"
                              data-icon="ant-design:delete-filled"
                              style="color: #2b3b55;font-size:25px;"></span>
                                        </button>
                                        <a th:href="@{'/comment/'+${task.id}+'/list'}">
                                            <!--                                        <a th:href="@{'/comment/'+${task.id}+'/list?page='+${commentService.getTotalPageOfComments(task.id)}}">-->
                                            <div class="noti__item ">

                                                <i class="zmdi zmdi-comment"
                                                   style="color: #2b3b55;font-size:25px;"></i>
                                                <span th:id="'commentCount'+${task.id}" class="quantity">0</span>

                                                <script th:inline="javascript">
                                                    function updateComment(clientTaskId) {
                                                        var clientTaskId = /*[[${task.id}]]*/ null;
                                                        $.ajax({
                                                            type: "GET",
                                                            contentType: "application/json",
                                                            url: "/rest/comment/" + clientTaskId + "/count",
                                                            dataType: 'json',
                                                            success: function (data) {
                                                                if (data.count > 0) {
                                                                    $("#commentCount" + clientTaskId).text(data.count);
                                                                }
                                                                setTimeout(updateComment, 10000);
                                                            },
                                                            error: function () {
                                                                setTimeout(updateComment, 10000);
                                                            }
                                                        });
                                                    }

                                                    updateComment();
                                                </script>
                                            </div>
                                        </a>
                                        <a th:href="'/mediaFile/'+${task.id}+'/list'">
                                            <button type="button" class="btn btn-link noti__item">
                                    <span class="iconify i3" data-inline="false"
                                          data-icon="ion:document-attach"
                                          style="color: #2b3b55;font-size: 22px;"></span>
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container con3" th:if="${taskModels.getTotalPages()-1 > 0}">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:if="${taskModels.hasPrevious()}">
                            <a class="page-link" th:href="@{/client/(page=${taskModels.number -1})}"> < </a>
                        </li>
                        <th:block th:each="i: ${#numbers.sequence(0, taskModels.totalPages - 1)}">
                            <li class="page-item active" th:if="${taskModels.number == i}">
                                <a th:href="@{/client/(page=${i})}" class="page-link ">[[${i}+1]]</a>
                            </li>
                            <li class="page-item" th:unless="${taskModels.number == i}">

                                <a th:href="@{/client/(page=${i})}" class="page-link">[[${i}+1]]</a>
                            </li>
                        </th:block>
                        <li class="page-item" th:if="${taskModels.hasNext()}">
                            <a class="page-link" th:href="@{/client/(page=${taskModels.number+1})}"> > </a>
                        </li>
                    </ul>
                </div>
<!--                <div class="container con3" th:if="${taskModels.getTotalPages()-1 > 0}">-->
<!--                    <ul class="pagination justify-content-center">-->
<!--                        <li class="page-item" th:if="${taskModels.hasPrevious()}">-->
<!--                            <a class="page-link" th:href="@{clientTasks(page=${taskModels.number -1})}"> < </a>-->
<!--                        </li>-->
<!--                        <th:block th:each="i: ${#numbers.sequence(0, taskModels.totalPages - 1)}">-->
<!--&lt;!&ndash;                            <li class="page-item active" th:if="${taskModels.number == i}">&ndash;&gt;-->
<!--&lt;!&ndash;                                <a th:href="@{clientTasks(page=${i})}" class="page-link ">[[${i}+1]]</a>&ndash;&gt;-->
<!--&lt;!&ndash;                            </li>&ndash;&gt;-->
<!--                            <li class="page-item" th:unless="${taskModels.number == i}">-->
<!--                                <a sec:authorize="hasRole('ROLE_USER')" th:href="@{/(page=${i})}" class="page-link">[[${i}+1]]</a>-->
<!--                                <a sec:authorize="hasAnyRole('ROLE_MANAGER', 'ROLE_ADMIN')" th:href="@{clientTasks(page=${i})}" class="page-link">[[${i}+1]]</a>-->
<!--                            </li>-->
<!--                        </th:block>-->
<!--                        <li class="page-item" th:if="${taskModels.hasNext()}">-->
<!--                            <div th:switch="${user.role.getRoleName()}">-->
<!--                                <a th:case="'ROLE_MANAGER'"  class="page-link" th:href="@{clientTasks(page=${taskModels.number+1})}"> > </a>-->
<!--                                <a th:case="'ROLE_USER'"  class="page-link" th:href="@{/(page=${taskModels.number+1})}"> > </a>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->

<!--                                <footer class="page-footer ">-->
<!--                                    &lt;!&ndash; Copyright &ndash;&gt;-->
<!--                                    <div class="footer-copyright text-center py-3" style="font-size: 20px">© 2020 Copyright-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash; Copyright &ndash;&gt;-->
<!--                                </footer>-->

            </div>
        </div>
    </div>
</layout:html>