<!DOCTYPE html>
<layout:html xmlns:layout="http://www.w3.org/1999/xhtml"
             xmlns:th="http://www.thymeleaf.org"
             lang="en"
             layout:decorate="~{layout}">
    <div layout:fragment="content">
        <div class="main-content">
            <div class="container">
                <div class="row">
                    <h3 style="text-align: center; font-family: 'Gilroy Light', sans-serif">
                        Сообщение:
                    </h3>
                    <br>
                    <br>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title" th:text="${notification.title}">
                                    <small>
                                        <span class="badge badge-success float-right mt-1"
                                              th:text="${notification.category} ? ${notification.category} : 'Extra'"></span>
                                    </small>
                                </strong>
                            </div>
                            <div class="mx-auto d-block">
                                <img class="rounded-circle mx-auto d-block" height="100" width="100"
                                     th:src="${notification.userFrom.image} ? ${notification.userFrom.image} : ${@environment.getProperty('photo.default.name')}"
                                     alt="Card image cap">
                                <h5 class="text-sm-center mt-2 mb-1"
                                    th:text="${notification.userFrom.firstName} + ' ' + ${notification.userFrom.lastName}"></h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text" th:text="${notification.message}">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</layout:html>