/* widget_flickr */
.widget_flickr {
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 5px 10px 5px;
  }
  img {
    max-width: 165px;
    border-radiu: 1px;
  }
  a {
    opacity: 1;
    &:hover {
      opacity: 0.6;
    }
  }
}