/* widget_tag_cloud */
.widget.widget_tag_cloud, .widget.widget_product_tag_cloud {
  .tagcloud{
    a {
      background-color: #fff;
      color: $darkColor!important;
      padding: 10px 20px;
      margin: 0 10px 10px 0;
      font-size: 14px;
      text-align: center;
      display: inline-block;
      @include small-text();
      &:hover {
        background-color: $colorMain;
        color: $lightColor!important;
      }
    }
  }
}