/* 
** Intro Section Styles
*/

.page_slider {
  position: relative;
  overflow: hidden;
  //fix slider bug on small screens
  clear: both;
  @media (min-width: 1200px) {
    .container{
      height: 100vh!important;
    }
  }
  & > img {
    width: 100%;
  }

  h2 {
    font-size: 3em;
    margin: 0;
    line-height: 1;
  }
  h3 {
    font-size: 2em;
    margin: 0;
    line-height: 1;
  }
  h4 {
    font-size: 1.5em;
    margin: 0;
  }
  p {
    font-size: 1.2em;
    margin: 0;
  }

  @media(min-width: 992px) {
    h2 {
      font-size: 6em;
    }
    h3 {
      font-size: 3em;
    }
    h4 {
      font-size: 2.5em;
    }
    p {
      font-size: 1.7em;
    }
  }

  .flex-bg {
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .flex-direction-nav .flex-prev {
    left: 2%;
    opacity: 1;
  }
  .flex-direction-nav .flex-next {
    right: 2%;
    opacity: 1;
  }

  .flexslider {
    //making every slide same height (stretch) for nice background on every slide
    .slides {
      display: flex;
      @media (min-width: 1200px) {
        height: 100vh;
      }
      .container{
        @media (min-width: 1200px) {
          height: 100vh;
        }
      }
    }

    //ie bugfix with page_slider overlap
    &:before,
    &:after {
      content: '';
      display: block;
      clear: both;
    }

    .intro_layer img {
      width: auto;
      display: inline-block;

      @media (max-width: 992px) {
        width: 290px;
      }

      @media (max-width: 478px) {
        width: 200px;
      }
    }

    //uncomment if you need a shadow on your slider
    &.slider-shadow {
      padding-bottom: 50px;
      &:before,
      &:after {
        content: "";
        position: absolute;
        background: transparent;
        z-index: 1;
        bottom: 65px;
        left: 10px;
        width: 50%;
        height: 20%;
        max-width: 400px;
        box-shadow: 0 25px 20px rgba(0, 0, 0, 0.3);
        transform: rotate(-3deg);
      }
      &:after {
        right: 10px;
        left: auto;
        transform: rotate(3deg);
      }
    }
  }

  .intro_layers_wrapper {
    display: flex;
  }

  .intro_after_featured_word {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    @media(max-width: 400px) {
      display: none;
    }
  }

  .intro_layers {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px 0;
    position: relative;
    z-index: 6;

    .title {
      margin-top: 0;
      font-size: 80px;
      line-height: 70px;
      font-weight: bold;
      text-transform: uppercase;

      .red{
        color: $colorMain;
        position: relative;
        display: inline-block;
        font-size: 127%;
      }
      .light {
        font-weight: 200;
        text-transform: capitalize;
      }
    }

  }
  @media (max-width: 1200px) {
    .intro_layers{
      .title{
        font-size: 66px;
      }
    }
  }

  @media (max-width: 992px) {
    .intro_layers {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 100px 0;

      .intro_layer{
        padding-right: 0;
        & + .intro_layer{
          padding-right: 0;
          padding-top: 70px;
        }
      }

      .title {
        text-align: center;
        line-height: 40px;
        font-size: 45px;
      }
    }
  }

  @media (max-width: 768px) {
    .intro_layers {
      padding: 50px 0;
      .title {
        font-size: 50px;
        line-height: 30px;

        .light{
          font-size: 30px;
        }
      }
    }
  }

  .intro_layer {
    display: flex;
    align-items: center;

    & + .intro_layer{
      padding-right: 70px;
    }
  }

  @media (max-width: 1200px) {
    .intro_layer + .intro_layer {
      padding-right: 40px;
    }
  }

  //dots - horizontal
  .flex-control-nav {
    position: absolute;
    bottom: 55px;
    display: flex;
    justify-content: flex-start;
    height: 172px;
    width: 22px;
    top: 50%;
    right: calc( 50% - 585px );
    transform: translateX(-50%) translateY(-50%);
    flex-direction: column;


    @media (max-width: 1299px) {
      right: calc( 50% - 555px );
    }

    @media (max-width: 1200px) {
      right: calc( 50% - 465px);
    }

    @media (max-width: 992px) {
      right: 53px;
    }

    @media (max-width: 480px) {
      right: 30px;
    }

    li {
      display: block;
      a {
        font-size: 14px;
        color: #fff;
        font-family: 'Raleway', sans-serif;
        border: none;
        font-weight: bold;
        letter-spacing: 0.2em;
        border-bottom: 2px solid rgba(255, 255, 255, 0.1);
        line-height: 54px;
        height: 59px;
        width: 22px;
        border-radius: 0;

        &:hover{
          background: none;
          color: $colorMain2;
          &::before{
            color: $colorMain2;
          }
        }

        &::before{
          content: '0';
          font-size: 14px;
          color: #fff;
          font-family: 'Raleway', sans-serif;
          transition: all 0.2s ease-in-out 0s;
        }

        &.flex-active {
          color: $colorMain;
          opacity: 1;
          background: none;
          &::before {
            color: $colorMain;
          }
        }
      }
    }
  }

  //lg and bigger layout
  @media(min-width: 300px) {

    .cs,
    .ds {
      background-color: transparent;
    }

    //description alignment
    //for intro with testimonials,
    //for static intro
    //.flexslider prefix removed
    //.container-fluid,
    //.container,
    img + .container {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;

    }

    @media (min-width: 992px) {
      .container{
        height: calc(100vh - 120px);
        min-height: 800px;
      }
    }

    .row {
      height: 100%;
    }

    [class*="col-"] {
      position: static;
      min-height: 0;
      margin-top: 0;
      margin-bottom: 0;

    }

    // center alignment for slide description
    .intro_layers_wrapper {
      //position: absolute;
      //top: 0;
      //bottom: 0;
      //right: 15px;
      //left: 15px;
      height: 100%;
      z-index: 5;

      @media (min-width: 600px) {
        .boxed & {
          padding-left: 60px;
          padding-right: 60px;
        }
      }
    }

    .intro_text_top .intro_layers {
      justify-content: flex-start;
    }
    .intro_text_bottom .intro_layers {
      justify-content: flex-end;
    }

    .intro_before_featured_word {
      line-height: 0.8;
      font-size: 20px;
      margin: 0;
      padding: 0 0.2em;
      text-align: left;

      text-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
    }
    .intro_featured_word {
      line-height: 0.9;
      white-space: nowrap;
      font-size: 50px;
      margin: 0;
      text-shadow: 0 0 13px rgba(0, 0, 0, 0.1);
    }

    .intro_after_featured_word {
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1em;
      text-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    }

  }

  @media (max-width: 400px) {
    .intro_featured_word {
      font-size: 40px;
    }
  }
  .flex-direction-nav {
    display: none;
  }

  @media (min-width: 992px) {

    .intro_layers_wrapper {
      padding: 100px 0;
    }

    .intro_before_featured_word {
      font-size: 42px;
    }
    .intro_featured_word {
      font-size: 138px;
    }

    .intro_after_featured_word {
      font-size: 12px;
      letter-spacing: 2em;
    }
  }

  @media (min-width: 1600px) {
    .intro_before_featured_word {
      font-size: 62px;
    }
    .intro_featured_word {
      font-size: 238px;
      white-space: nowrap;

      .container & {
        font-size: 138px;
      }
    }
  }

  //md and smaller - static container on small device
  @media (max-width: 991px) {
    & {
      text-align: center;
    }
  }
}

/* Home carousel */

.portfolio-carousel{
  padding-left: 160px;
  background-color: #1b222e;
  position: relative;
  overflow: hidden;

  .additional_image{
    display: block;
    text-align: center;
    width: 160px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .carousel-content {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    background-color: #fff;
    width: 100%;
    opacity: 0;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in-out;

    h3,h2,h4,span{
      font-size: 20px;
      line-height: 30px;
      color: #000;
      &:hover{
        color: $colorMain;
      }
    }
  }

  .owl-item a:hover{
    .carousel-content{
      opacity: 1;
      transform: translateX(-50%) scaleX(1);
      transition: all .3s ease-in-out;
      font-weight: bold;
    }
  }
}

.portfolio-controls-wrap {
  margin-top: 20px;

  @media (min-width: 1200px) {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
  }

  .portfolio-slider-wrap {
    width: 100%;
    display: inline-block;
    margin: 24px 0 6px;
    padding: 0 20px;

    @media (min-width: 320px) {
      width: 100%;
    }

    @media (min-width: 1300px) {
      margin-left: 160px;
      width: auto;
      padding: 0;
      min-width: 55%;
    }

    @media (min-width: 1500px) {
      min-width: 60.5%;
    }

    .ui-slider-horizontal {
      height: 1px;
      left: 0 !important;
    }
  }
}

.portfolio-shortcode-filters {
  margin: 20px 55px 0 auto;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 0;
  list-style: none;
  position: relative;
  width: 25%;
  justify-content: space-between;
  display: flex;

  a {
    padding: 6px;
    margin: 6px 0;
    display: inline-block;
    line-height: 1;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    background-color: transparent;
    position: relative;
    z-index: 2;
    &:hover{
      color: $colorMain2;
    }

    &.selected {
      color: $colorMain;
    }

    @media ( max-width: 768px ) {
      padding: 6px;
    }

    @media (max-width: 1024px) {
      padding: 6px 20px;
    }
  }

  @media (max-width: 1300px) {
    width: 100%;
    justify-content: center;
  }
}

@media (max-width: 1200px) {
  .portfolio-carousel{
    padding-left: 0;

    .additional_image{
      display: none;
    }
  }
}

/* Team slider */

.team-slider-shortcode {
  text-align: left;
  position: relative;
  padding: 50px 0;

  .team-slider-item{
    &.active {
      .team-slider-image {
        display: block;
      }
      .slide-title{
        span{
          transition: all .3s ease-in-out;
          z-index: 5;
          color: $colorMain2;
        }
      }
    }
    &:hover .slide-title{
      span{
        transition: all .3s ease-in-out;
        z-index: 5;
        color: $colorMain2;
      }
    }
  }

  .team-slider-image {
    height: 100%;
    display: none;
    position: absolute;
    bottom: -3px;
    left: 0;
    z-index: 4;
    &.from-right {
      left: auto;
      right: 0;
    }
  }

  h3.slide-title{
    margin-bottom: 0.35em;
    font-size: 60px;

    @media (max-width: 1440px) {
      font-size: 50px;
      line-height: 50px;
    }

    @media (max-width: 992px) {
      font-size: 45px;
      line-height: 45px;
    }

    @media (max-width: 480px) {
      line-height: 1;
      font-size: 30px;
    }
  }
  span {
    cursor: pointer;
    position: relative;
    z-index: 3;
    transition: color 0.3s ease;
    font-weight: 200;

    .last {
      font-weight: bold;
    }
  }


  @media (max-width: 768px) {
    .slide-title{
      font-size: 40px;
    }
    .team-slider-image{
      height: auto;
      max-height: 100%;
    }
  }
}

@media (min-width: 1400px) {
  .team-slider-shortcode{
    padding: 240px 0;
    .team-slider-image{
      right: -260px;
      img{
        //width: 95%;
      }
    }
  }
}

@media (min-width: 1200px) {
  .team-slider-shortcode{
    padding: 200px 0;
    .team-slider-image.from-right{
      right: -280px;
      img{
        //width: 80%;
      }
    }
  }
}

@media (max-width: 1200px) {
  .team-slider-shortcode {
    text-align: center;
    padding-bottom: 100% !important;
    .team-slider-image{
      height: auto;
    }
  }
}


