/* 
** Template Specific Styles
*/

#box_wrapper > section,
#box_wrapper > div > section {
  overflow: hidden;
}

#box_wrapper > section.page_topline,
#box_wrapper > section.page_toplogo,
#box_wrapper > section.overflow-visible,
#box_wrapper > div > section.overflow-visible {
  overflow: visible;
}


//featured person on three different background sections
img.absolute_image {
  position: absolute;
  z-index: 1;
  top: 50px;
}

.image-rounded-cross-borders {
  position: relative;
  margin: 50px 0 60px;
  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 30px;
    background-color: $borderColor;
    top: -30px;
    left: 50%;
  }
  &:after {
    top: auto;
    bottom: -30px;
  }
  .box-shadow {
    padding: 9px;
    border-radius: 50%;
    &:before,
    &:after {
      content: '';
      position: absolute;
      height: 1px;
      width: 30px;
      background-color: $borderColor;
      top: 50%;
      left: -30px;
      @media(max-width: 1199px) {
        display: none;
      }
    }
    &:after {
      left: auto;
      right: -30px;
    }
  }
  img {
    border-radius: 50%;
  }
}

.btn-action {
  i {
    width: 1em;
    height: 1em;
    text-align: center;
    &.fa-chevron-right {
      position: relative;
      left: 2px;
    }
  }
}

.partners-carousel {
  a {
    opacity: 0.2;
    &:hover {
      opacity: 0.8;
    }
  }
  .center a {
    opacity: 1;
  }
}

//topline and toplogo
.dropdown-shopping-cart {
  position: relative;
  font-weight: 700;
  .page_toplogo & {
    margin-left: 24px;
  }
  i {
    font-size: 28px;
    padding-right: 14px;
    .page_toplogo & {
      position: relative;
      top: 0.18em;
    }
  }
  .badge {
    position: absolute;
    left: 24px;
    .page_toplogo & {
      top: -0.3em;
    }
    padding: .28em .5em .2em;
    border-radius: 1em;
  }
  &:hover {
    color: inherit;
  }

  & + .dropdown-menu {
    @media (min-width: 576px) {
      min-width: 430px;
    }
    margin-top: 50px;
  }
}

.bio-parallax{
  &.s-parallax{
    background-image: url("../images/parallax/section_bg.jpg");
  }
}

.header_absolute {
  &.cover-background,
  &.s-parallax {
    background-image: url("../images/parallax/video_section_background.jpg");
  }
}

.page_title {
  &.cover-background,
  &.s-parallax {
    background-image: url("../images/parallax/video_section_background.jpg");
  }
  h1,
  h2 {
    margin-bottom: 0.65em;
    line-height: 1;
    @media(min-width: 992px) {
      font-size: 40px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .small-title {
    margin-bottom: 0;
    & + .breadcrumb {
      font-size: 16px;
      letter-spacing: 0;
      text-transform: none;
      font-weight: 300;
    }
  }
  @media (min-width: 992px) {
    .title-inline {
      margin: 0;
      & + .breadcrumb {
        padding-left: 30px;
        margin-left: 30px;
        border-left: 1px solid $universalBorderColor;
      }
    }
  }
  .breadcrumb {
    line-height: 1.6;
    a:hover{
      color: $colorMain;
    }
  }
  [class*="container"] > .breadcrumb {
    position: absolute;
    right: 15px;
    bottom: 0;
    padding: 0 15px;
    background-color: $borderColorRGBA;
  }
}

.page_404 {
  background-image: url("../images/parallax/video_section_background.jpg");
}

.page_map {
  height: 657px;
  text-align: center;
  .marker {
    display: none;
  }

  @media (max-width: 768px) {
    height: 500px;
  }
}

.map_marker_description {
  h3 {
    line-height: 1;
    margin-bottom: 10px;
  }
  max-width: 270px;
  img {
    max-width: 90% !important;
  }
}

//styling google info window
.gm-style .gm-style-iw {
  overflow: visible !important;
  text-align: center;
  line-height: 1.6em;

  & > *:first-child {
    position: relative;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    border-top: 2px solid $colorMain;
    top: -25px;
    left: -16px;
    right: -16px;
    bottom: -25px;
    background: $lightColor;
    box-shadow: $boxShadow;
  }

  .icon-inline {
    display: inline-block;
    margin: 0.3em 0;
    .icon-styled {
      margin-right: 5px;

    }
  }
}

/*footer navigation*/
.menu-footer{
  &__nav{
    display: flex;
    justify-content: center;
    list-style: none;
    padding-left: 0;
    flex-wrap: wrap;

    li {

      &:not(:last-child)::after {
        content: "/";
        font-size: 12px;
        font-weight: bold;
        position: relative;
        color: #fff;
        padding: 0 30px;
      }


      a {
        padding: 25px 0;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 2.8px;
        text-transform: uppercase;
        line-height: 1;

        &:hover{
          color: $colorMain;
        }
      }
    }

    @media (max-width: 992px) {
      li:not(:last-child)::after {
        padding: 0 15px;
      }
    }
    @media (max-width: 478px) {
      flex-direction: column;
      li::after{
        content: none!important;
      }
    }
  }
}

/*footer social buttons that hidden on half of their height*/
.page_footer {
  background-color: #1b222e;
  position: relative;

  h4.back {
    text-align: center;
    line-height: 240px;
    font-weight: 900;
    font-size: 240px;
    color: #242d3c;
    opacity: 0.3;
    text-transform: uppercase;
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
  }

  p.spec{
    color: #ffffff;
    font-size: 100px;
    font-weight: 700;
    line-height: 100px;
    span:first-child {
      color: #ff493c;
      position: relative;
      top: -11px;
    }
    .light{
      font-weight: 400;
      //color: #ffffff;
    }
  }

  &__wrap{
    margin-top: 203px;
    margin-bottom: 170px;
    z-index: 2;
    position: relative;
  }

  @media (max-width: 1200px) {
    p.spec {
      font-size: 80px;
    }


    h4.back {
      font-size: 150px;
    }
  }

  @media (max-width: 1200px) {

    .page_footer__wrap{
      margin-top: 100px;
      margin-bottom: 100px;
    }

    p.spec {
      font-size: 60px;
    }


    h4.back {
      font-size: 100px;
      line-height: 100px;
    }
  }

  @media (max-width: 500px) {

    .page_footer__wrap{
      margin-top: 50px;
      margin-bottom: 50px;
    }

    p.spec {
      font-size: 40px;
      line-height: 40px;
    }


    h4.back {
      font-size: 80px;
      line-height: 80px;
    }
  }


  //for hidden social icons
  overflow: hidden;

  &.s-parallax {
    background-image: url("../images/parallax/video_section_background.jpg");
  }

  /*overriding Bootstrap Addons buttons*/
  @media (min-width: 576px) {
    a.border-icon:before,
    a.bg-icon:before,
    a.color-bg-icon:before {
      width: 4.20em;
      height: 4.20em;
      line-height: 4.20em;
    }
  }

  .side-icon-box {
    margin: 0 0 20px;
    & > .icon-styled:first-child {
      margin-right: 0;
      position: relative;
      top: 0.5em;
    }

    .icon-styled + .media-body {
      margin-left: 20px;
    }
  }

  .col-md-12 {
    .widget_social_buttons {
      margin-bottom: 0;
      a {
        margin: 0 4px 70px;
        @media (min-width: 1200px) {
          transform: translateY(50%);
          margin-bottom: 0;
          &:hover {
            transform: translateY(0);
          }
        }
      }
    }
  }
}

.page_copyright {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2.8px;
  line-height: 30px;

  &.cover-background,
  &.s-parallax {
    background-image: url("../images/parallax/video_section_background.jpg");
  }
}

//team hover info for .media-item
.item-hover-content {
  position: relative;
  overflow: hidden;
  .item-media {
    z-index: 2;
  }

  .item-content {
    position: absolute;
    right: 0;
    left: 0;
    box-shadow: $boxShadow;

    h4 {
      line-height: 1;
      letter-spacing: 0.15em;
      margin-bottom: 1.4em;
      span {
        font-weight: 900;
      }
    }
  }
  //overriding default media item content padding on big screens
  &.content-padding .item-content {
    @media (min-width: 1200px) {
      padding: 54px 40px;
    }
  }
  &:hover {
    overflow: visible;
    z-index: 3;
    box-shadow: $boxShadow;
  }
}

.content-show-hover {
  overflow: hidden;
  .item-content {
    top: 0;
    opacity: 0;
    transform: scale(1.2);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: all 0.15s ease-in-out;
    h4 {
      line-height: 1;
      letter-spacing: 0.15em;
      margin-bottom: 1.4em;
      span {
        display: block;
        font-weight: 900;
      }
    }
  }
  &:hover {
    box-shadow: $boxShadow;
    .item-content {
      transform: scale(1);
      opacity: 1;
    }
  }
}

//regular gallery item with absolute content and scaling header
.item-gallery {
  overflow: hidden;
  position: relative;
  background: transparent;

  .item-content {
    h4 {
      z-index: 5;
      transition: all 0.15s ease-in-out;
      opacity: 0;
      transform: scale(0);
    }
  }

  //hover styles
  &:hover {
    .item-content h4 {
      transform: scale(1);
      opacity: 1;
    }
  }
}