/*
** Widgets
*/
aside h2 {
  margin-bottom: 0;
  line-height: 1;
}

aside > * + * {
  margin-top: 60px;
}

.widget {
  position: relative;
  & > h3,
  .widget-title {
    @include widget-title();
  }

  //for shortcodes demo
  & > h2:last-child {
    line-height: 1;
  }

  //our custom widgets with bootstrap .media element
  li.media {
    margin-bottom: 20px;

    img {
      max-width: 80px;
    }
    h3, h4 {
      font-weight: 700;
      line-height: 1.4;
      margin-bottom: 0.5em;
      text-transform: none;
      font-size: inherit;
    }
    p {
      line-height: 1.4;
      margin-bottom: 0.5em;
    }
  }

  .page_footer & {
    margin-bottom: 50px;
    & > h3,
    .widget-title {
      margin-bottom: 2.2em;
    }
  }

  .reviewer{
    font-size: 16px;
  }

  .product_list_item{
    display: flex;

    .media-body{
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;

      span{
        line-height: 20px;
      }

      .product-title{
        margin: 0;
      }
    }
  }
}

.widget-title.next-image-background {
  position: relative;
  z-index: 2;
  & + img {
    position: absolute;
    left: 0;
    top: -15px;
    opacity: 0.5;
  }
  .text-center & + img {
    left: 50%;
    transform: translateX(-50%);
  }
}

@media(max-width: 991px) {
  aside {
    margin: 60px auto;
    max-width: 370px;
  }
}

/* affix-aside */
.affix-aside {
  position: relative;
  &.affix {
    position: fixed;
    //oriented header height
    top: 100px;
  }
  &.affix-bottom {
    position: absolute !important;
  }
  &.affix-top {
    width: inherit !important;
    left: auto !important;
  }

  @media(max-width: 991px) {
    &,
    &.affix-top,
    &.affix,
    &.affix-bottom {
      position: static !important;
      width: 100% !important;
    }
  }
}

//p.stars removed
.stars {
  & > span {
    display: flex;
  }

  a {
    position: relative;
    width: 1em;
    color: transparent;
    text-indent: -999em;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 1em;
      height: 1em;
      line-height: 1;
      text-indent: 0;
      font-family: 'FontAwesome';
    }
    &:before,
    &:hover ~ a:before {
      color: $fontColor;
      content: "\f006"
    }
  }
  &.selected a.active:before,
  &:hover a:before {
    content: "\f005";
    color: $colorMain2;
    opacity: 1;
  }
  &.selected {
    a.active ~ a:before {
      content: "\f005";
      color: $fontColor;
      opacity: .75
    }
    a:not(.active):before {
      content: "\f005";
      color: $colorMain;
      opacity: 1
    }
  }
}

.star-rating {
  overflow: hidden;
  position: relative;
  height: 1em;
  line-height: 1;
  font-size: 14px;
  width: 5em;
  letter-spacing: 0.1em;
  font-family: 'FontAwesome';
  color: $colorMain2;
  margin-bottom: -5px;

  &:before {
    content: '\f006\f006\f006\f006\f006';
    float: left;
    top: 0;
    left: 0;
    position: absolute
  }

  span {
    overflow: hidden;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 1.5em;

    &:before {
      content: '\f005\f005\f005\f005\f005';
      top: 0;
      position: absolute;
      left: 0
    }

  }
}

.widget.widget_recent_posts,
.widget_popular_entries{
  li.media{
    min-height: 100px;
    background-color: $darkColor;
    .media-image{
      width: 100px;
      img{
        width: 100px;
        height: 100px;
        max-width: none;
      }
    }
    .media-body{
      flex-direction: column-reverse;
      display: flex;
      padding-right: 10px;

      .item-meta,
      .star-rating{
        font-size: 14px;
        color: $colorMain2;
        margin-top: 17px;
        margin-bottom: 2px;
      }
      .item-meta{
        letter-spacing: 3px;
      }

      h4{
        font-size: 18px;
        line-height: 20px;
        a{
          max-height: 40px;
          overflow: hidden;
          display: inline-block;
          &:hover{
            color: $colorMain;
          }
        }
      }
    }
  }
}

.widget.widget_posts_2cols{
  ul{
    li{
      padding-left: 0;
      padding-right: 0;
      margin-top: 0;
    }
    h5{
      margin-top: 0;
      background-color: $darkColor;
      padding: 10px 5px;
      font-size: 16px;
      text-align: center;
    }
  }
}

.widget.widget_slider,.tab-pane{
  .item-content{
    background-color: $darkColor;
    padding: 35px 38px 54px 40px;
  }
  .item-meta{
    font-size: 14px;
    color: $colorMain2;
    margin-bottom: 2px;
    letter-spacing: 3px;
  }
  h4{
    margin-top: 6px;
    font-size: 18px;
    line-height: 20px;
    a{
      &:hover{
        color: $colorMain;
      }
    }
  }
}
.tab-pane{
  .item-media{
    & + .item-content{
      padding-top: 20px;
    }
  }
  .item-content{
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 35px;
  }
}

.widget_posts_2cols{
  a:hover{
    color: $colorMain;
  }
}

.widget_twitter{
  .widget-title{
    margin-bottom: 13px;
  }
  .twitter-item{
    .fa{
      color: #55acee;
      font-size: 20px;
    }
    .media{
      * + .media-body{
        margin-left: 7px;
      }
      .icon-styled{
        margin-top: 0;
      }
      .media-body{
        & > p{
          margin: 0;
        }
        a{
          color: $colorMain2;
          &:hover{
            color: #fff;
          }
        }
      }
      & + .media{
        margin-top: 20px;
      }
    }
  }
}



@import 'widgets/search_mailchimp';
@import 'widgets/nav_cat_arch_meta_pages';
@import 'widgets/calendar';
@import 'widgets/rss';
@import 'widgets/tag_cloud';
@import 'widgets/flickr';
@import 'widgets/instagram';
@import 'widgets/access_press';
@import 'widgets/twitter';
@import 'widgets/post_slider';
@import 'widgets/post_tabs';
@import 'widgets/post_2cols';
